body {
    font-family: sans-serif;
    background-color: #f4f1ec!important;
    color: #222;
    line-height: 1.4;
}

.grid {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.grid-cell {
    flex: 1;
}
.grid--right {
    justify-content: flex-end;
}
.grid--center {
    justify-content: center;
}
.grid--top {
    align-items: flex-start;
}
.grid--bottom {
    align-items: flex-end;
}
.grid--center {
    align-items: center;
}
.grid-cell--top {
    align-self: flex-start;
}
.grid-cell--bottom {
    align-self: flex-end;
}
.grid-cell--center {
    align-self: center;
}
.grid--cols-2 > .grid-cell {
    flex: 0 0 100%;
}
.grid--cols-3 > .grid-cell {
    flex: 0 0 100%;
}
.grid--cols-4 > .grid-cell {
    flex: 0 0 100%;
}
.grid--cols-6 > .grid-cell {
    flex: 0 0 50%;
}
.grid--cols-8 > .grid-cell {
    flex: 0 0 50%;
}
.grid--cols-12 > .grid-cell {
    flex: 0 0 33.3333%;
}
.grid--fit > .grid-cell {
    flex: 1;
}
.grid--full > .grid-cell {
    flex: 0 0 100%;
}
@media (min-width: 30em) {
    .grid--cols-4 > .grid-cell {
        flex: 0 0 50%;
    }
    .grid--cols-6 > .grid-cell {
        flex: 0 0 33.3333%;
    }
    .grid--cols-8 > .grid-cell {
        flex: 0 0 25%;
    }
    .grid--cols-12 > .grid-cell {
        flex: 0 0 16.6666%;
    }
}
@media (min-width: 48em) {
    .grid--cols-2 > .grid-cell,
    .grid--cols-3 > .grid-cell,
    .grid--cols-4 > .grid-cell,
    .grid--cols-6 > .grid-cell,
    .grid--cols-8 > .grid-cell,
    .grid--cols-12 > .grid-cell{
        flex: 1;
    }
}